@import url('https://fonts.googleapis.com/css?family=Roboto100,200,300,400,500,600,700,|Exo:100,200,300,400,500,600,700');


/*--------------------------------------Colors/Transitions*/
header,
footer {
    background-color: #676767;
    color: #ffffff;
}


.bg-color-name-title {
    background-color: #676767;
}

.menuitem {
    background-color: #676767;
    color: #ffffff;
}

.trade {
    color: #021156;
}

.safe {
    color: #00ff00;
}

.trademark {
    color: #000;
    font-size: 45%;
}

.fa-download:hover {
    color: #1e90ff;
    transition-property: color;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
}

li a span:hover {
    color: #1e90ff;
    transition-property: color;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
}

 button span:hover {
    color: #1e90ff;
    transition-property: color;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
}

.dropdown-menu li a {
   color: #ffffff;
}

.dropup-content li a {
    padding: 5px 0 5px 0;
}

.dropdown-menu li a:hover {
   background-color: #676767;
   color: #1e90ff;
}

.contact-break {
    width: 3px;
    color: #1e90ff;
}


/*------------------------------Special Paddings/margins/text*/
h1 {
  margin: 0 auto;  
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto;
    word-spacing: 2px;
    line-height: 24px
}

.external-links-toggle-dropdown {
    padding-left: 25px;
}

.hookline {
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 50px;
}

.row {
     margin-right: 0;
     margin-left: 0;
     height: 85px;
}

#home {
    padding-bottom: 70px; 
}

#home p h4 {
    padding: 20px 10px;
}

.training {
    padding: 80px 10px 50px 10px;
}

.package-cost-121,
.package-cost-group {
    padding: 10px 10px 20px 10px;
}

.package-cost-121 div img,
.package-cost-group div img {
   border: groove 2px black;
   min-height: 160px;
   min-width: 140px;
}

.package-h3{
    padding: 30px 10px;
}

#bookings h3 {
    padding: 50px 10px;
}

#course-excerpt h3 {
    margin-bottom: 40px;
    padding: 25px 10px;
}

#contact {
    padding-top: 20%;
    padding-bottom: 35%;
}

#contact p {
    margin: 80px 0 40px;
}

.hookline-contact {
    margin-top: 30px;
    margin-bottom: 50px;
    color: white;
}
.btn {
    padding: 15px;
    border-radius: 15px;
}

.footer-social {
    padding-top: 10px;
    padding-bottom: 15px;
}

/*----------------Overide Chrome defaults on Nav dropdown links*/

a:focus,
button:focus {
outline: none !important;
}

a:-webkit-any-link{
text-decoration:none !important;
}

/*-------------------------------------background plus inserted images by section*/

/*-------------------------------------home section*/

.bgcharts { 
  background: url("../images/bgcharts.jpeg") no-repeat center center fixed;
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  height:100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.imgframe {
    background:white;
    padding:7px 7px 30px 7px;
    border:1px solid black; 
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

/*-------------------------------------training section*/

.training { 
  background: white;
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  height:100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.TechA div img {
  background: url("../images/technical.png") no-repeat center center fixed; 
  width: 33%;
  height:100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.MoneyMan div img {
  background: url("../images/moneyman.jpg") no-repeat center center fixed; 
  width: 33%;
  height:100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.TradePsy div img {
  background: url("../images/trading-psychology.png") no-repeat center center fixed; 
  width: 33%;
  height:100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.package-cost-121 div img {
  background: url("../images/package-121.jpg") no-repeat center center fixed;
  width: 33%;
  height:100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.package-cost-group div img {
  background: url("../images/package-group.jpg") no-repeat center center fixed;
  width: 33%;
  height:100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*-------------------------------------bookings section*/

.bookings { 
  background: url("../images/bookings.jpg") no-repeat center center fixed;
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  height:100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*-------------------------------------course excerpt section*/

.course-excerpt-section { 
  background: url("../images/excerpt-background.jpeg") no-repeat center center fixed;
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  height:100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 100px;
}
/*-------------------------------------contact section*/

.contact { 
  background: url("../images/contact.jpg") no-repeat center center fixed;
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  height:100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*-------------------------------------End of background plus inserted images by section*/

/*--------------------------------Header Navbar*/

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.35);
}

.brand-container {
    padding-bottom: 15px;
    text-decoration: none;
}

.brand {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    height: 70px;
}

/*----------------------------------Navbar toggle sml screen dropdown menu*/


#toggle-button {
    position: relative;
    float: right;
    border-color: transparent;
    top: -85px;
    z-index: 1001;
}

.icon-bar {
    background-color: white;
}

#navbar-toggle-list {
    margin-left: -120px;
    margin-top: -5px;
}

#toggle-button:hover .dropdown-menu{
    display: block;
}

#navbar-toggle-list {
    display: none;
    position: absolute;
    list-style: none;
    margin-right:  0;
    border: none;
    text-align: left;
    line-height: 25px;
    background-color: #676767;
    box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.35);
}

.external-links-toggle-dropdown:hover .dropdown-menu2 {
    display: block;
}

.dropdown-menu2 {
    display: none;
    position: relative;
    list-style: none;
    margin-right:  0;
    border: none;
    text-align: left;
    line-height: 25px;
    background-color: #676767;
}
/*--------------------------------------Header continued*/

#nav li {
    margin-bottom: 25px;
}

.menuitem-text {
    padding-top: 25px;
}

.menuitem {
    height: 60px;
    text-align: center;
}    

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

.menuitem a i {
    padding-top: 5px;
    display: block;
    color: #ffffff;
    font-size: 22px;
}

.menuitem span {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 5px 0 0 0;
    background-color: transparent;
}

#nav li #course-excerpt {
    margin: 0;
    padding: 0;
}

/*--------------------------------------Header Navbar Links dropdown menu*/

button {
    background-color: #676767;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    margin: -16px;
    padding: 0; 
}

.dropdown2:hover #dropdown-menu2{
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    list-style: none;
    padding-right: 30px;
    border: none;
    text-align: left;
    width: 50px;
    line-height: 25px;
    background-color: #676767;
    box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.35);
}

#nav li ul li {
    margin-bottom:0;
}

/*----------------------------------------Sections by Title (for section background images see css lines 177-321)*/
/*----------------------------------------Home section*/

.section-container-home {
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 120px;
    z-index: 1;
}

/*---------------------Home section polaroid effect on both images*/

#home div img:hover {
  -webkit-transform: scale(1.35) rotate(-2deg);
  -moz-transform: scale(1.35) rotate(-2deg);
  transform: scale(1.35) rotate(-2deg); 
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  box-shadow: 0 3px 6px rgba(0,0,0,.5);
  position: relative;
  z-index: 10;
}
/*---------------------------------------Training section*/
.section-container-training {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 40px 0 40px 0;
    z-index: 2;
}

/*---------------------------------------Training section checkmark for list*/

ul.checkmark li, 
ul.checkmark-removed-small-screen li {
    font-size: 22px;
    list-style-type: none;
    margin-bottom: 10px;
    position: relative;
}

ul.checkmark li:before {
  content: " "; 
  display: block;
  border: solid 16px #1e90ff;
  border-radius: 16px; 
  position: absolute; 
  top: 35%; 
  margin-top: -10px;
}

ul.checkmark li:after {
  content: " ";
  display: block;
  width: 14px; 
  height: 28px;
  border: solid #00ff00;
  border-width: 0 7px 7px 0; 
  position: absolute;
  left: 17px;
  top: 20%;
  margin-top: -10px;
  -webkit-transform: rotate(40deg); 
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

ul {
    padding-left: inherit;
}

/*------------------------End of Training section checkmark for list*/

.three-vital-areas{
display: inline-block;
}

.TechA,
.MoneyMan,
.TradePsy {
    padding-left:  20px;
    padding-right: 20px;
    height: auto;
}

.TechA2,
.MoneyMan2,
.TradePsy2 {
    padding-top: 10px;
    padding-bottom: 12px;
}

.TechA div img,
.MoneyMan div img,
.TradePsy div img {
   min-height: 140px;
   min-width: 140px;
   margin-bottom: 40px;
}

/*----------------------------------End of Training section*/

/*----------------------------------------Section Divider*/

.section-divider {
    padding-top: 25px;
    background-color: #1e90ff;
    height: 140px;
    width: 100%;
    transform: skewY(-5deg);
    transform-origin: top right;
    z-index: 1;
}

/*----------------------------------------Bookings section*/
.section-container-bookings {
    text-align: center;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 70px;
}

#bookings h3 {
    font-weight: 900;
    margin-bottom: 50px;
}

#bookings {
    color: white; 
}

/*----------------------Bookings form close/x icon*/

.close-bookings {
    font-size: 36px;
    font-weight: 800;
    color: red;
    float: right;
    background-color: transparent;
    padding-right: 10px;
    padding-bottom: 5px;
    border-color: transparent;
    opacity: 0.7;
}

.booking-submit-button {
    margin: 10px;}

/*----------------------------------------Course Excerpt section*/

.transDiv {
    background-color: #ece6e6;
    color: black;
    opacity: 0.8;
    border-radius: 25px;
}

.video-container {
    border: transparent;
}

/*----------------------------------------Contact section*/

.contact {
    text-align: center;
}

.modal-header2 {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

/*----------------------Contact form close/x icon*/

.close-contact {
    font-size: 36px;
    font-weight: 800;
    color: red;
    float: right;
    background-color: transparent;
    padding-right: 10px;
    border-color: transparent;
    opacity: 0.7;
    transform: translateY(-35px);
}

.contact-submit-button {
    margin: 10px;
}
/*----------------------------------End of Sections by Title*/

/*--------------------------------------Footer*/

.footer {
  position: relative; 
  display: inline-table;
  max-height: 130px;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  text-align: center;
  z-index: 2;
  box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.35);
}

/*------------Legal Stuff links via button in footer nav bar*/

footer button {
    margin: 0;
    padding-top: 5px;
}

.nav {
    padding-left: inherit;
}    

.dropup-menu {
    display: none;
    position:absolute;
    list-style: none;
    border: none;
    left: 10%;
    margin-bottom: -12px;
    text-align: left;
    width: auto;
    line-height: 25px;
    background-color: #676767;
    box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.35);
    z-index: 1001;
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup .dropdown-menu {
    margin-bottom: -10px;
    margin-left: inherit;
    padding-left: 10px;
}  

/*---------------End of Legal Stuff footer button*/

/*---------------Footer Social links*/

.social-links {
    border-radius: 50%;
    padding: 0;
    display: inline;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fa-facebook, 
.fa-twitter,
.fa-linkedin,
.fa-youtube  {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-top: 12px;
    padding-left: 5px;
}

.social-links li a i{
  background:  #ffffff;
  color: black;  
}

.social-links li a i:hover {
  background: transparent ;
  color: #1e90ff;
  font-size: 34px;
}

/*-------------------------------End of Footer*/

/*-------------------------------Legal Stuff.html document*/

#cookie-policy,
#gdpr,
#advise-disclaimer {
    padding: 120px 0 120px 0;
}

#copyright {
   padding: 205px 0 120px 0; 
}

#copyright,
#gdpr,
#credits {
   background-color: #87cefa;
}

#credits {
    padding: 120px 0 185px 0;
}



/*----------------------------@media Queries for index.html*/

    

@media screen and (max-width:992px) {
    .nav-links .list-container {
        display: none;
    }
    .checkmark {
        display: none;
    }  
    .brand {
        float: left;
        padding-left: 20px;
    }
    #toggle-button button {
        display: inline-block;
        visibility: visible;
    }
}

@media screen and (min-width:993px) {
    .checkmark-removed-small-screen {
       display:none;
    } 
}

@media screen and (min-width:768px) {
    #course-excerpt iframe {
        width: 450px;
        height: 350px;
    }
}

@media screen and (max-width:420px) {
    .brand span {
        font-size: 70%;
        padding-bottom: 15px;
    }
    #course-excerpt iframe {
        width: 185px;
        height: 160px;
    }
}

/*--------@media to remove poor scaled background images and support iOS and devices less than 420px*/

@media screen and (max-width:420px) {
    .bgcharts {
         background: transparent;
    }
    #home {
        background-color: #1e90ff;
    }
    .section-container-home {
        background-color: rgba(0,0,0,0);
    }
    .bookings {
        background: transparent;
    }
    #bookings {
        background-color:#d6932e;
    }
    #bookings .btn {
        background-color: #00ff00;
        color: #676767;
    }
    .course-excerpt-section {
        background: transparent;
    }
    } 

    /*------------@media changes to section divider for large screens over 1440px-----*/   
   

@media screen and (min-width: 1440px) {
    .section-divider {
        height: 180px;
        transform: skewY(-4deg);
    }
}



