@import url('https://fonts.googleapis.com/css?family=Roboto100,200,300,400,500,600,700,|Exo:100,200,300,400,500,600,700');


/*--------------------------------------Colors/Transitions*/
header,
footer {
    background-color: #676767;
    color: #ffffff;
}


.bg-color-name-title {
    background-color: #676767;
}

.menuitem {
    background-color: #676767;
    color: #ffffff;
}

.trade {
    color: #800000;
}

.safe {
    color: #00ff00;
}

.trademark {
    color: #000;
    font-size: 45%;
}

.fa-download:hover {
    color: #1e90ff;
    transition-property: color;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
}

li a span:hover {
    color: #1e90ff;
    transition-property: color;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
}

 button span:hover {
    color: #1e90ff;
    transition-property: color;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
}

.dropdown-menu li a {
   color: #ffffff;
}

.dropdown-menu li a:hover {
   background-color: #676767;
   color: #1e90ff;
}

.contact-break {
    width: 3px;
    color: #1e90ff;
}


/*------------------------------Special Paddings/margins/text*/
h1 {
  margin: 0 auto;  
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto;
    word-spacing: 2px;
    line-height: 24px
}

.hookline {
    margin: 30px 10px 30px 10px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.row {
     margin-right: 0;
     margin-left: 0;
     height: 85px;
}

#home {
    padding-bottom: 70px; 
}

#home p h4 {
    padding: 20px 10px;
}

.training {
    padding: 80px 10px 50px 10px;
}

.package-cost-121,
.package-cost-group {
    padding: 10px 10px 20px 10px;
}

.package-cost-121 div img,
.package-cost-group div img {
   border: groove 2px black;
   min-height: 160px;
   min-width: 140px;
}

.package-h3{
    padding: 30px 10px;
}

#bookings h3 {
    padding: 50px 10px;
}

.course-excerpt-section {
    padding-top: 100px;
    padding-bottom: 40px;
}

#course-excerpt h3 {
    margin-bottom: 40px;
    padding: 25px 10px;
}

#contact {
    padding-top: 20%;
    padding-bottom: 35%;
}

#contact p {
    margin: 80px 0 40px;
}

.hookline-contact {
    margin-top: 30px;
    margin-bottom: 50px;
    color: white;
}
.btn {
    padding: 15px;
    border-radius: 15px;
}

.footer-social {
    padding-top: 10px;
    padding-bottom: 15px;
}

/*----------------Overide Chrome defaults on Nav dropdown links*/

a:focus,
button:focus {
outline: none !important;
}

a:-webkit-any-link{
text-decoration:none !important;
}

/*-------------------------------------background plus inserted images by section*/

/*-------------------------------------home section*/

.bgcharts { 
  background: url("../images/bgcharts.jpeg") no-repeat center center fixed;
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  height:100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.imgframe {
    background:white;
    padding:7px 7px 30px 7px;
    border:1px solid black; 
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

/*-------------------------------------training section*/

.training { 
  background: url("../images/training.jpeg") no-repeat center center fixed;
  background: white;
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  height:100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.TechA div img {
  background: url("../images/technical.png") no-repeat center center fixed; 
  width: 100%;
  height:100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.MoneyMan div img {
  background: url("../images/moneyman.jpg") no-repeat center center fixed; 
  width: 100%;
  height:100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.TradePsy div img {
  background: url("../images/trading-psychology.png") no-repeat center center fixed; 
  width: 100%;
  height:100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.package-cost-121 div img {
  background: url("../images/package-121.jpg") no-repeat center center fixed;
  width: 100%;
  height:100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.package-cost-group div img {
  background: url("../images/package-group.jpg") no-repeat center center fixed;
  width: 100%;
  height:100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*-------------------------------------bookings section*/

.bookings { 
  background: url("../images/bookings.jpg") no-repeat center center fixed;
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  height:100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*-------------------------------------course excerpt section*/

.course-excerpt-section { 
  background: url("../images/excerpt-background.jpeg") no-repeat center center fixed;
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  height:100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*-------------------------------------contact section*/

.contact { 
  background: url("../images/contact.jpg") no-repeat center center fixed;
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  height:100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*--------------------------------------Header*/

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.35);
}

.brand-container {
    padding-bottom: 15px;
    text-decoration: none;
}

.brand {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin-top: 15px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    height: 70px;
}

/*----------------------------------Nav toggle sml screen dropdown menu*/


#toggle-button {
    position: relative;
    float: right;
    border-color: transparent;
    top: -85px;
    z-index: 1001;
}

.icon-bar {
    background-color: white;
}

#navbar-toggle-list {
    margin-left: -120px;
    margin-top: -18px;
}

.links-header {
    color: black;
}


/*--------------------------------------Header continued*/

#nav li {
    margin-bottom: 25px;
}

.menuitem-text {
    padding-top: 25px;
}

.menuitem {
    height: 60px;
    text-align: center;
}    

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

.menuitem a i {
    padding-top: 5px;
    display: block;
    color: #ffffff;
    font-size: 22px;
}

.menuitem span {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 5px 0 0 0;
}

/*--------------------------------------Links dropdown menu*/

button {
    background-color: #676767;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    margin: -16px;
    padding: 0; 
}

.dropdown-menu {
    display: none;
    position: absolute;
    list-style: none;
    margin: 0 50px;
    border: none;
    padding: 0 10px;
    text-align: center;
    width: 60px;
    line-height: 25px;
    background-color: #676767;
    box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.35);
}

.dropdown:hover .dropdown-menu{
    display: block;
}

#nav li ul li {
    margin-bottom:0;
}

/*-----------------------------------------------Sections*/
/*----------------------------------------Home*/

.section-container-home {
    background-color: transparent;
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 120px;
    z-index: 1;
}
.hookline {
    font-size: 50px;
}

#home div img:hover {
  -webkit-transform: scale(1.35) rotate(-2deg);
  -moz-transform: scale(1.35) rotate(-2deg);
  transform: scale(1.35) rotate(-2deg); 
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  box-shadow: 0 3px 6px rgba(0,0,0,.5);
  position: relative;
  z-index: 10;
}
/*---------------------------------------Training*/
.section-container-training {
    background-color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
    color: white;
    color: black;
    text-align: center;
    padding: 40px 0 40px 0;
    z-index: 2;
}

ul.checkmark li {
  font-size: 22px; 
  list-style-type: none; 
  margin-bottom: 5px; 
  padding: 0 5px 0 10px; 
  position: relative;
}

ul.checkmark li:before {
  content: " "; 
  display: block;
  border: solid 16px #00ffff;
  border-radius: 16px; 
  position: absolute; 
  top: 35%; 
  margin-top: -10px;
}

ul.checkmark li:after {
  content: " ";
  display: block;
  width: 14px; 
  height: 28px;
  border: solid #228b22;
  border-width: 0 7px 7px 0; 
  position: absolute;
  left: 24px;
  top: 20%;
  margin-top: -4px;
  -webkit-transform: rotate(40deg); 
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.three-vital-areas{
display: inline-block;
}

.TechA,
.MoneyMan,
.TradePsy {
    padding-left:  20px;
    padding-right: 20px;
    height: 100%;
}

.TechA2,
.MoneyMan2,
.TradePsy2 {
    padding-top: 10px;
    padding-bottom: 12px;
}

.TechA div img,
.MoneyMan div img,
.TradePsy div img {
   min-height: 140px;
   min-width: 140px;
   margin-bottom: 40px;
}


/*----------------------------------------Divider*/

.section-divider {
    padding-top: 25px;
    background-color: #00ffff;
    height: 140px;
    width: 100%;
    transform: skewY(-5deg);
    transform-origin: top right;
    z-index: 1;
}

/*----------------------------------------Bookings*/
.section-container-bookings {
    text-align: center;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 70px;
}

#bookings h3 {
    font-weight: 900;
    margin-bottom: 50px;
}

#bookings {
    color: white; 
}


.close {
    font-size: 36px;
    font-weight: 800;
    color: red;
}

/*----------------------------------------Course Excerpt*/

.course-excerpt-section {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 100px;
}

.video-container {
    border: transparent;
    content: center;
}

/*----------------------------------------Contact*/

.contact {
    text-align: center;
}

/*----------------------------------------Legal Stuff.html*/

#cookie-policy,
#gdpr,
#advise-disclaimer {
    padding: 120px 0 120px 0;
}

#copyright {
   padding: 205px 0 120px 0; 
}

#copyright,
#gdpr,
#credits {
   background-color: #87cefa;
}

#credits {
    padding: 120px 0 185px 0;
}



/*--------------------------------------Footer*/

.footer {
  position: fixed; 
  display: inline-table;
  max-height: 130px;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  text-align: center;
  z-index: 2;
  box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.35);
}

footer button {
    margin-top: 0;
}

.footer-brand {
  font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;  
}

.dropup-menu {
    display: none;
    position:absolute;
    list-style: none;
    border: none;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    width: 60px;
    line-height: 25px;
    background-color: #676767;
    box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.35);
    z-index: 1001;
}

.dropup:hover .dropup-content {
  display: block;
}

.social-links {
    border-radius: 50%;
    padding: 0;
    display: inline;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fa-facebook, 
.fa-twitter,
.fa-linkedin,
.fa-youtube  {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-top: 12px;
    padding-left: 5px;
}

.social-links li a i{
  background:  #ffffff;
  color: black;  
}

.social-links li a i:hover {
  background: transparent ;
  color: #1e90ff;
  font-size: 36px;
}



/*----------------------------Media Queries*/

    

@media screen and (max-width:992px) {
    .nav-links .list-container {
        display: none;
    }
    .checkmark {
        display: none;
    }
    .brand {
        float: left;
        padding-left: 20px;
    }
    #toggle-button button {
        display: inline-block;
        visibility: visible;
    }
}

@media screen and (max-width:420px) {
    .brand span {
        font-size: 70%;
        padding-bottom: 15px;
    }
    #course-excerpt iframe {
        width: 185px;
        height: 160px;
    }
}

@media screen and (min-width:768px) {
    #course-excerpt iframe {
        width: 450px;
        height: 350px;
    }
}









