@import url('https://fonts.googleapis.com/css?family=Roboto100,200,300,400,500,600,700,|Exo:100,200,300,400,500,600,700');


/*--------------------------------------Colors/Transitions*/
header,
footer {
    background-color: #676767;
    color: #ffffff;
}


.bg-color-name-title {
    background-color: #676767;
}

.menuitem {
    background-color: #676767;
    color: #ffffff;
}

.trade {
    color: #800000;
}

.safe {
    color: #00ff00;
}

.trademark {
    color: #000;
    font-size: 45%;
}

.fa-download:hover {
    color: #1e90ff;
    transition-property: color;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
}

li a span:hover {
    color: #1e90ff;
    transition-property: color;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
}


 button span:hover {
    color: #1e90ff;
    transition-property: color;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
}

.dropdown-menu li a {
   color: #ffffff;
}

.dropdown-menu li a:hover {
   background-color: #676767;
   color: #1e90ff;
}

.contact-break {
    width: 3px;
    color: #1e90ff;
}


/*------------------------------Special Paddings/margins/text*/
h1 {
  margin: 0 auto;  
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto;
    word-spacing: 2px;
    line-height: 24px
}

.row {
     margin-right: 0;
}

.course-excerpt{
    padding-top: 3px;
}

.btn {
    padding: 0;
}

footer {
    padding-top: 10px;
}

.footer-list{
   padding-top: 5px;
   padding-bottom: 5px;  
}

.footer-contact {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-social{
    padding-top: 15px;
    padding-bottom: 12px;
}


/*----------------Overide Chrome defaults on Nav dropdown links*/

a:focus,
button:focus {
outline: none !important;
}

a:-webkit-any-link{
text-decoration:none !important;
}

/*-------------------------------------background plus inserted images by section*/

/*-------------------------------------home section*/

.bgcharts { 
  background: url("../images/bgcharts.jpeg") no-repeat center center fixed;
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  height:100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.imgframe {
    background:white;
    padding:7px 7px 30px 7px;
    border:2px solid black; 
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

/*-------------------------------------training section*/

.training { 
  background: url("../images/training.jpeg") no-repeat center center fixed;
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  height:100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/*-------------------------------------bookings section*/

.bookings { 
  background: url("../images/booking.jpeg") no-repeat center center fixed;
  z-index: -1;
  width: 100%;
  margin: 0 auto;
  height:100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*-------------------------------------course excerpt section*/


/*-------------------------------------contact section*/








/*--------------------------------------Header*/


header {
    z-index: 3;
    box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.35);
}

.brand-container {
    padding-bottom: 15px;
    text-decoration: none;
}

.brand {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin-top: 15px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
}

#nav li {
    margin-bottom: 25px;
}

.menuitem-text {
    padding-top: 25px;
}

.menuitem {
    height: 60px;
    text-align: center;
    margin-bottom:  -1px ;
}    

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

.menuitem a i {
    padding-top: 5px;
    display: block;
    color: #ffffff;
    font-size: 22px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}

/*--------------------------------------Links dropdown menu*/

button {
    background-color: #676767;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    margin: -1px;
    padding: 0; 
}

.dropdown-menu {
    display: none;
    position:absolute ;
    list-style: none;
    border: none;
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 0;
    width: 90px;
    line-height: 25px;
    background-color: #676767;
    box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.35);
}

.dropdown:hover .dropdown-menu{
    display: block;
}

#nav li ul li {
    margin-bottom: 0;
}


/*-----------------------------------------------Sections*/

.section-container-home {
  background-color: transparent;
  background-color: rgba(0,0,0,0.4);
  color: #ffffff;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
}

.hookline {
    font-size: 50px;
}

#home div img:hover {
  -webkit-transform: scale(1.35) rotate(-2deg);
  -moz-transform: scale(1.35) rotate(-2deg);
  transform: scale(1.35) rotate(-2deg); 
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  box-shadow: 0 3px 6px rgba(0,0,0,.5);
  position: relative;
  z-index: 10;
}

.section-container-training {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.section-container-bookings {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

.jumbotron {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    border: 2px solid;
    margin-top: 30px;
}

.close {
    font-size: 36px;
    font-weight: 800;
    color: red;
}

.section-container-legal-stuff,
.section-container-contact,
.section-container-course-excerpt {
    background-color: white;
    text-align: center;
}

.course-excerpt-section {
    background-color: slategrey;
    text-align: center;
}

.contact {
    background-color: lightgreen;
    text-align: center;
}

.legal-stuff {
    background-color: orange;
    text-align: center;
}

/*--------------------------------------Footer*/

.footer {
  position: relative; 
  display: inline-table;
  max-height: 130px;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  text-align: center;
  z-index: 2;
  box-shadow: 13px 13px 15px -2px rgba(0,0,0,0.35);
}

.footer-brand {
  font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;  
}

.dropup:hover .dropup-content {
  display: block;
}

.social-links {
    border-radius: 50%;
    padding: 0;
    display: inline;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fa-facebook, 
.fa-twitter,
.fa-linkedin,
.fa-youtube  {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-top: 14px;
    padding-left: 5px;
}

.social-links li a i{
  background:  #ffffff;
  color: black;  
}

.social-links li a i:hover {
  background: transparent ;
  color: #1e90ff;
  font-size: 36px;
}















/*-------Gradient shading idea for both nav bars*/

background-image: linear-gradient(to bottom, #333, #4d4d4d); 



